<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rui.ble">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:configChanges="orientation|keyboardHidden"
        android:theme="@style/AppTheme"
        android:name="com.rui.ble.bluetooth.sensor.BleAppClass" >

        <service
            android:name="com.rui.ble.bluetooth.common.BleService"
            android:enabled="true" />

        <activity android:name=".bluetooth.sensor.MainActivity">
            android:screenOrientation="landscape"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bluetooth.sensor.DevActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified" />
    </application>

</manifest>